@page
@model WebApp.Pages.GroupsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  Layout = "../shared/_AdminMenuLayout.cshtml";
}

<div class="jumbotron">
  <h1 class="display-3">Groups</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr><th>School Groups</th></tr>
    </thead>
    <tbody>
    @foreach(var group in Model.Groups)
    {
      <tr><td>@group.Name</td></tr>
    }
    </tbody>
  </table>
</div>