@page
@functions
{
  public void OnGet()
  {
    ViewData["Title"] = "ase3"; 
  }
}

@{
  Layout = "shared/_AdminMenuLayout.cshtml";
}

<div class="jumbotron">
  <h1 class="display-3">Welcome to School System</h1>
  <p class="lead">We are glad for your visit</p>
    <hr/>


    <div class="container-fluid">
      
      <!-- Search Content -->  
      <p class="lead">Check the info about one of these topics</p>
      <div class="row">
        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Assignatures</h5>
              <a class="btn btn-primary" href="search/assignatures">View</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Groups</h5>
              <a class="btn btn-primary" href="search/groups">View</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Teachers</h5>
              <a class="btn btn-primary" href="search/teachers">View</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Subjects</h5>
              <a class="btn btn-primary" href="search/subjects">View</a>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>

      <!-- Adding Content -->  
      <p class="lead">Add more info to the system</p>
      <div class="row">
        
        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Subjects to Group</h5>
              <a class="btn btn-success" href="search/subjects">Add</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Subjects to Teacher</h5>
              <a class="btn btn-success" href="form/add_teacher_subject">Add</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Group</h5>
              <a class="btn btn-success" href="form/add_group">Add</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Teacher</h5>
              <a class="btn btn-success" href="form/add_teacher">Add</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card bg-secondary">
            <div class="card-body">
              <h5 class="card-title">Subject</h5>
              <a class="btn btn-success" href="form/add_subject">Add</a>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

    